.con {
    margin: 120px 0;;
}
.epitaph {
    margin-bottom: 80px;
    margin-left: 5px;
    text-align: end;
    font-size: 30px;
    letter-spacing: 0.03em;
    line-height: 27px;
}
.bio {
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.03em;
}
